<% if notice %>
<p id="notice"><%= notice %></p>
<%end%>

<h2 class="cart_title">
  Pragmatic Cart
</h2>

<%= render(@cart) %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
